*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
    list-style: none;
    text-decoration: none;
}

.header{
    background-color: var(--header-bcg-color);
}
.container{
    padding: 20px 60px;
}
.main{
    height: 100%;
}
.header-container{
  display: flex;
  flex: 50%;
  justify-content: space-between;
}
.titleOfPage{
    margin-left: 50px;
}

.dark_mode{
    border: none;
    padding: 10px 20px;
    background-color: var(--header-bcg-color);
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: var(--text-color);
    margin-right: 50px;


}
.dark_mode i{
    margin-right: 10px;
    font-size: 17px;
    color: var(--text-color)
}
.filter_part{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

#form{
    background-color: var(--header-bcg-color);
    border: 1px solid transparent;
    padding: 7px 20px;
    border-radius: 5px;
    margin-left: 50px;


}

#searchInput{
    border: none;
    outline: none;
    height: 30px;
    margin-left: 10px;
    background-color: transparent;
    color: var(--text-color);
}
::placeholder{
    color: var(--text-color);
}
#searchBtn{
    background-color: transparent;
    border: none;
}
.fa-solid {
   border: none !important;
   outline: none !important;
   color: var(--text-color);
   font-size: 13px;

}

#regions{
    background-color: var(--header-bcg-color) !important;
    border: 1px solid transparent;
    outline: 1px solid transparent;
    border-radius: 5px;
    width: 150px;
    height: 30px;
    align-self:center;
    margin-right: 50px;
    color: var(--text-color);

}
#regions option{
    background-color: var(--header-bcg-color) !important;
    color: var(--text-color);
}

.all_countries_container{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.country_container {
    flex-basis: 25%;
    padding: 0 10px;
}

.country{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    background-color: var(--country-box-bcg-color);
    border-radius: 5px;
    color: var(--text-color);
    height: 340px;
}

.country img{
    max-width: 100%;
    height: 160px;
    border-radius: 5px;
}

.details_about-country{
    padding: 20px;
    line-height:2em;
}


html[data-theme="dark"] {
    --text-color: #ffffff;
    --background-color: #202C36;
    --header-bcg-color: #2B3844;
    --country-box-bcg-color: #2B3844;

    /* --form-bcg-color: #28293b; */
  }
  
  html[data-theme="light"] {
    --text-color: #000;
    --background-color: #F2F2F2;
    --header-bcg-color: #fff;
    --country-box-bcg-color: #fff;
    /* --form-bcg-color: #fff; */
  }

  body {
    background-color: var(--background-color) !important;
    color: var(--text-color) !important;
  }

  /* Diger sehifenin styli */

  #backBtn{
      padding: 10px 40px;
      border-radius: 5px;
      font-size: 17px;
      border: none;
      position: relative;
      bottom: 70px;
      background-color: var(--background-color);
      color: var(--text-color);

  }

  .container_country_details{
    padding: 100px 100px;
  }
  .content-container{
      display: flex;
      justify-content: space-between;
      align-content: center;
      align-items: flex-start;
  }
  .left-section{
    flex: 50%;  }

  .left-section img{
    width:100%;
    height: 310px;
    border-radius: 10px;
   
  }
  .right_section{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex: 50%;
      text-align:start;
      margin-left: 70px;
      position: relative;
      /* right: 50px; */

  }
  .right_section_text_columns{
    display: flex;
    line-height: 2.5em;
    margin: 20px 0px;
  }
  .right_section_left_column{
      margin-right: 35px;
  }
  .right_section_left_column p{
      font-weight: 300;
  }
  .right_section_right_column{
    margin-left: 55px;
  }
  .json_data_headers{
      font-weight: bolder;
      font-size: 17px;
  }
  
  .borders{
      display: flex;
  }
  .borders p{
      margin-right: 20px;
      font-weight: 300;
  }
  .borderCountries{
      border: 1px solid #505050;
      padding: 1px 10px;
  }

  
@media (max-width: 670px) {
    
    .header-container{
        align-items: center;
        font-size: 8px;
        line-height: 1.5em;
        
    }
    .dark_mode{
        position: relative;
        left: 50px;
        font-size: 8px;
        line-height: 1.5em;
    }
    .dark_mode i{
        font-size: 10px;
        line-height: 1.5em;

    }
    .filter_part{
        display: flex;
        flex-direction: column;
        align-content: flex-start;
        
    }
    #regions{
        margin-top: 30px;
        position: relative;
        right: 20px;
    }
    #form{
        width: 100%;
        position: relative;
        right: 50px;

    }
    .content-container{
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        font-size: 14px;
        text-align: center;
    }
    .left-section img{
        width: 100%;
        height: 150px;
    }
   
}


  
@media (max-width: 428px) {
    .header-container{
        align-items: center;
        font-size: 10px;
        flex: 50%;
        line-height: 1.2em;
        
    }
   
   
    #regions{
        margin-top: 30px;
        position: relative;
        right: 20px;
    
}
.content-container{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    font-size: 14px;
    text-align: center;
}
    
    .left-section img{
        width: 100%;
        height: 130px;
       
    }
    .right_section{
        position: relative;
        right: 130px;
        line-height: 1.0em;
        margin-top: 40px;
        justify-content: flex-start;
        text-align: center;
        
    }
    .right_section h2{
        text-align: center;
    }
    .right_section_text_columns{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-content: flex-start;
       
    }
    .right_section_right_column{
        margin-right: 90px;
    }
    .borders{
        position: relative;
        left: 40px;
    }
}

@media (max-width:1100px){
    .left-section img{
        width: 100%;
        height: 180px;
    }
}