*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}
.header{
    background-color: var(--header-bcg-color);
}
.container{
    padding: 20px 60px;
}
.main{
    /* background-color: #F2F2F2;; */
    height: 100%;
}
.header-container{
  display: flex;
  justify-content: space-between;
}
.titleOfPage{
    margin-left: 50px;
}

.dark_mode{
    border: none;
    padding: 10px 20px;
    background-color: var(--header-bcg-color);
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: var(--text-color);
    margin-right: 50px;


}
.dark_mode i{
    margin-right: 10px;
    font-size: 17px;
    color: var(--text-color)
}
.filter_part{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

#form{
    background-color: var(--header-bcg-color);
    border: 1px solid transparent;
    padding: 7px 20px;
    border-radius: 5px;
    margin-left: 50px;


}

#searchInput{
    border: none;
    outline: none;
    height: 30px;
    margin-left: 10px;
    background-color: transparent;
    color: var(--text-color);
}
::placeholder{
    color: var(--text-color);
}
#searchBtn{
    background-color: transparent;
    border: none;
}
.fa-solid {
   border: none !important;
   outline: none !important;
   color: var(--text-color);
   font-size: 13px;

}

#regions{
    background-color: var(--header-bcg-color) !important;
    border: 1px solid transparent;
    outline: 1px solid transparent;
    border-radius: 5px;
    width: 150px;
    height: 30px;
    align-self:center;
    margin-right: 50px;
    color: var(--text-color);

}

.all_countries_container{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.country{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    background-color: var(--country-box-bcg-color);
    border-radius: 5px;

}

.country img{
    max-width: 100%;
    flex-basis: 25%;
    height: 160px;
    border-radius: 5px;
}

.details_about-country{
    padding: 30px;
    line-height:2em;
}


html[data-theme="dark"] {
    --text-color: #ffffff;
    --background-color: #202C36;
    --header-bcg-color: #2B3844;
    --country-box-bcg-color: #2B3844;

    /* --form-bcg-color: #28293b; */
  }
  
  html[data-theme="light"] {
    --text-color: #000;
    --background-color: #F2F2F2;
    --header-bcg-color: #fff;
    --country-box-bcg-color: #fff;
    /* --form-bcg-color: #fff; */
  }

  body {
    background-color: var(--background-color) !important;
    color: var(--text-color) !important;
  }
